.bg{
  
    background-color: #070C20;
    background-size: cover;
    width: 12000px;
    height: 12000px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

}

.bg-banner{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/ELEGANNZA.png');
    background-repeat: no-repeat;
    background-size: 20%;
    margin-top: 4px;
    margin-left: 4px;
      
}

.bg-logo{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/LOGO.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 10%;
    right: 8px;
}
.user-logo{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/NN.png');
    background-repeat: no-repeat;
    background-position: center;
    bottom: 100px;
    background-size: 10%;
    image-rendering: optimizeSpeed;
    box-sizing: 0px;
    

}

.login-form{
    display: flex;
    /* top: 100px; */
    position: fixed;
    top: 50%;
    left: 43%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-Text{
    color: white;
}

.userFieldLogin{

    height: 28px;
    border-radius: 30px;
    border: none;
    margin-top: 16px;
    margin-bottom: 8px;  
    padding-inline: 12px;
}

.login-Button{

    background-color: #FF6A99;
    color: white;
    border-radius: 30px;
    border: none;
    padding-inline: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
}

.signUp-Button{

    background-color: #2099FA;
    color: white;
    border-radius: 30px;
    border: none;
    padding-inline: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 8px;
    
}

.o{
    color: white;
}